<div fxLayout="column"
     fxLayoutAlign="center center"
     class="login-wrapper">

  <form [formGroup]="formLogin" (ngSubmit)="formLogin.valid && login()">

    <fieldset fxLayout="column">
      <h1>Login</h1>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Email" formControlName="email">

        <mat-error *ngIf="formLogin.controls['email'].hasError('email')">Invalid Email</mat-error>
        <mat-error *ngIf="formLogin.controls['email'].hasError('required')">Email is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="formLogin.controls['password'].hasError('required')">Password is required</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit">Login</button>
      <button mat-raised-button type="reset">Reset</button>
    </fieldset>

  </form>

</div>
