<div fxLayout="column"
     fxLayoutAlign="center center"
     class="login-wrapper">

  <form fxLayout="column"
        #myForm="ngForm"
        (ngSubmit)="myForm.valid && login()">

    <fieldset>Login</fieldset>

    <input type="email"
           required
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
           placeholder="Email"
           name="email"
           [(ngModel)]="userCredentials.email"
           [class.field-error]="myForm.submitted && email.invalid"
           #email="ngModel">

    <div *ngIf="myForm.submitted && email.invalid"
         class="label-error">Enter a valid email</div>

    <input type="text"
           required
           placeholder="Password"
           name="password"
           [(ngModel)]="userCredentials.password"
           [class.field-error]="myForm.submitted && password.invalid"
           #password="ngModel">

    <div *ngIf="myForm.submitted && password.invalid"
         class="label-error">Enter a valid password</div>

    <button type="submit">Login</button>
    <button type="reset">Reset</button>

  </form>

  <!-- <p>dirty: {{ email.dirty }}</p>
  <p>pristine: {{ email.pristine }}</p>
  <p>touched: {{ email.touched}}</p>
  <p>untouched: {{ email.untouched }}</p>
  <p>valid: {{ email.valid }}</p>
  <p>invalid: {{ email.invalid }}</p>
  <p>{{ myForm.value | json }}</p> -->

</div>
