<div fxLayout="column"
     fxLayoutAlign="center center"
     class="login-wrapper">

  <form fxLayout="column"
        #myForm="ngForm">

    <fieldset>Login</fieldset>

    <input type="text"
           placeholder="email"
           name="email"
           [(ngModel)]="userCredentials.email"
           #nameField="ngModel">

    <input type="text"
           placeholder="password"
           name="password"
           [(ngModel)]="userCredentials.password"
           #nameField="ngModel">

    <button (click)="login()">Login</button>

  </form>

  <p>{{ myForm.value | json }}</p>

</div>
