<form fxLayout="column"
      [formGroup]="movieForm"
      (ngSubmit)="movieForm.valid && onFormSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Overview</mat-label>
    <textarea matInput formControlName="overview"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Premiere</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="premiere">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Poster Image URL</mat-label>
    <input matInput formControlName="posterImage">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Genre</mat-label>
    <mat-select formControlName="genre">
      <mat-option value="COMEDIA">Comedia</mat-option>
      <mat-option value="DRAMA">Drama</mat-option>
      <mat-option value="TERROR">Terror</mat-option>
    </mat-select>
  </mat-form-field>

  <div fxLayout="row"
       fxLayoutAlign="end"
       fxLayoutGap="16px"
       class="button-actions">

       <button type="reset" mat-raised-button>RESET</button>
       <button type="submit" mat-raised-button color="primary">CREATE</button>

  </div>

</form>
